
/* override bad jqM theme fonts*/
div, p, span, li, input {
  font-family: "Lucida grande", arial, sans-serif !important;
}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }
body, div {
  margin:0;
}

html, body {
  min-height:480px; /* so we can hide the URL bar , without viewport height=device-height*/
/*  height:100%;*/
/*  width:100%;*/
}


div.starblock {
  margin-left:20px;
  display:inline-block;
}
div.starvote {
  display:inline-block;
}
div.voteresult {
  display:inline-block;
}

.testlog {
  margin-top:15px;
  margin-left:20px;
}

/* copie de ekomobi/mobile.css */
h1.ui-title {
  text-align: left !important;
  margin: 0.6em 10px 0.8em !important;
  font-size: 14px !important;
}
/*Gala Estrie*/
label.select {
  margin-top:5px;
  font-weight:bold;
}
